/*
 * 
 * 项目名称：流程管理系统
 * 作者：苗燕
 * 创建日期： 2016-05-20
 * 公司：亚信科技（南京）有限公司
 * 
 * 修改记录：
 * ------------------------------------------------------------------------------
 * 版本：1.00
 * 序号	|	修改日期	|	 作者 	|	备注
    1     2016-05-20    MY
 */
/* GLOBAL STYLES begin*/
@charset "utf-8";
body {
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei",'微软雅黑', SimHei, "\5B8B\4F53", simsun, sans-serif;
}
.f-l{
	float:left;
}
.f-r{
	float:right;
}
.p-lr0{
	padding-left:0;
	padding-right:0;
}
.font14{
	font-size:14px;
}
.form-group .input-mb{
	margin-bottom:0px;
}
.search .group-center, .group-center{
	margin:0 auto;
	text-align:center;
}
.margin-tb10{
	margin:10px 0;
}
.margin-10{
	margin:10px;
}
.m-t8{
	margin-top:8px;
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, 
.btn-primary.disabled:hover, .btn-primary[disabled]:hover, 
fieldset[disabled] .btn-primary:hover,
 .btn-primary.disabled:focus, .btn-primary[disabled]:focus, 
 fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus,
  .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus, 
  .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] 
  .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active,
   fieldset[disabled] .btn-primary.active{
	background-color: #d6d6d6;
	border-color: #c7c7c7;
	color: #FFFFFF;
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #d6d6d6;
	border-color: #c7c7c7;
	color: #FFFFFF;
}
/* GLOBAL STYLES end*/

.sidebar-footer a{
	color:#d02c07;
}
.toggle a{
	color:#24282b;
}
.search {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #dddddd;
    margin: 0px auto 10px;
    width: 100%;
	padding:16px 0 6px;
}
.search label{
	font-weight:normal;
}
.form-horizontal .select-btn-r{
	float:right;
	margin-right:22px;
}
.form-horizontal .select-3btn-r{
	float:right;
	margin-right:12px;
}
.btn-search{
	color:#f0ad4e;
	font-size:18px;
	padding:0 4px;
}
.btn-search a{
	color:#f0ad4e;
	height:34px;
}
.btn-del{
	color:#d02c07;
	font-size:18px;
	padding:0 4px;
}
.btn-del a{
	color:#d02c07;
}
.toolico-box {
    margin-bottom: 6px;
}
.toolico-box li{
	float:left;
}
.ico-toolbtn > li > a{
	color:#ff6600;
    font-size: 16px;
    padding: 5px 10px;
}
table.jambo_table thead{
	background:#EFEFEF;
}
.page-input{  /* 解决每页显示条数文本框*/
	width: 56px;
	padding: 6px;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    background-color: #4FB5D3;
    border-color: #4FB5D3;
    color: #FFFFFF;
}
.form-up{  /* 文本框上下收缩按钮*/
	position:absolute;
	top:-1px;
	right:8px;
	font-size:22px;
}
.form-up a{	
	color:#b3b3b3;
	display:block;
	width:30px;
	height:30px;
	text-align:center;
	line-height:30px;
}
.form-down{
	color:#ff6600;
}
.search-form-title {
    border-bottom: 1px solid #cccccc;
    color: #ff6600;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
	width: 100%;
}
.city-box{
	border-bottom: 1px solid #cccccc;
    color: #ff6600;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
	width: 97%;
	margin:0 15px;
}
.search-form-title .ico, .city-box .ico{
	background:#ff6600;
	display: inline-block;
    float: left;
    height: 16px;
    line-height: 40px;
    margin-right: 14px;
    margin-top: 12px;
    width: 4px;
}
.city-tit-default{
	text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
	font-size:12px;
	line-height:18px;
	background-color: #ff6600;
    border-color: #ed6d00;
	color:#fff;
}
.city-tit{
	display: inline-block;
    margin-bottom: 4px;
	border:solid 1px #fdceaf;
	color:#000000;
	line-height: 16px;
	font-size:12px;
	margin:0 4px;
}
.add-btn-plr{
    margin-right:6px;
	margin-bottom:6px;
	float:right;
}
.process-box{  /* 选择流程模块 */
	margin:20px auto;
	text-align:center;
	width:400px;
}
.process-tit{ /* 选择流程标题 */
	float:left;
	line-height:36px;
	width:100px;
}
.process-tree-input{
	width:300px;	
	float:left;
	text-align:left;
}
.form-group label{
	font-weight:normal;
}
.panel-body span {
	/*margin-bottom: 4px;*/
	display: inline-block;
	/*padding: 6px;*/
}
.td-text tbody tr .text {
	max-width: 250px;
	min-width: 200px;
	white-space: nowrap;
}
.td-text tbody tr .text span {
	display: inline-block;
	width: auto;
	max-width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	vertical-align: top;
	line-height: 20px;
}
.input-group .uploadfile-btn{ 
	line-heigth:22px;
}
.examine-box{   /* 审核信息框 */
    margin-top: 5px;
    padding: 0 10px 10px;
	border: 1px solid #e7e7e7;
}
.examine-tit{
	color: #ff6600;
    padding: 0 3px;
	font-size: 14px;
	background:#fff;
	width:80px;
	position:relative;
	top:-10px;
	right:1px;
	text-align:center;
}
.examine-box .tabel-bg{
	background:#efefef;
}
/* 流程详情 */
ul.messages {
	list-style-type:none;
}
ul.messages li, .tasks li{
	padding:8px 10px;
}
.media .date {
    background:none;
    border-radius:0px;
    margin-right:0px;
    padding: 0px;	
}
.media .month{
	color:#73879C;
}
ul.messages li .message_wrapper {
    margin-left: 80px;
    margin-right: 40px;
}
.media .node-tit{
	color:#666; 
	font-size:14px; 
	font-weight:normal;
	margin:0 10px;	
}
.examine-btn{
	border-radius: 3px;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    margin-left: 20px;
    padding: 4px 6px;
    text-align: center;
    vertical-align: middle;
}
.examine-success-btn{
	background: #1abb9c;    
}
.examine-fail-btn{
	background: #d43f3a;    
}
/* 附件上传列表 */
.enclosure-list {
	padding:6px 8px;
}
.enclosure-list li{
	line-height:32px;
	border-bottom:solid #ddd 1px;
	list-style:none;
	height:32px;
}
.enclosure-list li span{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	display: inline-block;
	max-width:82%;
}
.enclosure-list li i{
	float:right;
	padding:0 4px;
	margin-top:8px;
}
.file-del-ico{
	color:#d9534f;	
}
.file-download-ico{
	color:#4FB5D3;
}
.datagrid .panel-body{
	padding:0px;
}


/* 易报表  2016年07月26日 */
body .container.body .right_col {
	background: #F7F7F7;
	/*border: 1px solid #d9dee4;*/
}
.page-title{
	color:#f86809;
	padding:0;
	font-weight:bold;
	height:46px;
}
.panel{
/*	border: 1px solid #dddddd;
	background-color:none;
	box-shadow:none;*/
	border-radius:0;
	background:none;
}
.menu-ico{
	color: #f86809;
    font-size: 22px;
	padding:8px 4px;
}
.l-btn-left{
	padding-right:14px;
	color:#f86809;
}
.datagrid-toolbar span:focus, .datagrid-toolbar span:hover, .menu-ico:focus, .menu-ico:hover,.datagrid-toolbar a:focus, .datagrid-toolbar a:hover{
	color:#5bc0de;	
    text-decoration:none;
}

.l-btn-icon-left {
    line-height: 32px;
    height: 32px;
}


/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {

}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) and (max-width: 1199px)  {
	.col-md-12 .col-lg4-md3 .col-md-1{
		width:11.1111111%;
	}
	.col-md-12 .col-lg4-md3 .col-md-11{
		width:88.8888889%;
	}
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
	.col-lg-9 .col-lg4-md3 .col-lg-1{
	 width:11.1111111%;
	}

  .col-lg-9 .col-lg4-md3 .col-lg-11{
		width:88.8888889%;
	}

}
